     </div>
        <footer>
            <hr>
            <div>
                <figure>
                    <img id="csumb" src="img/logo.png" alt="CSUMB Logo" width="80" height="70">
                </figure>
                <div id="disclaimer">
                    CST 336: Internet Programming. 2019&copy; Nikulyak<br />
                    <strong>Disclaimer:</strong> The information in this webpage is fictitious. <br />
                    It is used for academic purposes only.
                </div>
            </div>
        </footer>        
    </body>
</html>