<% include partials/header %>

	<h1 class="display-4">Welcome to the Earth page!</h1>
  	<img src="/img/earth.jpg" alt="Earth">
  	<hr class="my-4">
  	<p id="earth">Earth, our home, is the third planet from the sun. It's the only planet known to have an atmosphere containing free oxygen, oceans of water on its surface and, of course, life. Earth is the fifth largest of the planets in the solar system. It's smaller than the four gas giants — Jupiter, Saturn, Uranus and Neptune — but larger than the three other rocky planets, Mercury, Mars and Venus. Earth has a diameter of roughly 8,000 miles and is round because gravity pulls matter into a ball. But, it's not perfectly round. Earth is really an "oblate spheroid," because its spin causes it to be squashed at its poles and swollen at the equator. Water covers roughly 71 percent of Earth's surface, and most of that is in the oceans. Scientists think Earth was formed at roughly the same time as the sun and other planets some 4.6 billion years ago, when the solar system coalesced from a giant, rotating cloud of gas and dust known as the solar nebula. As the nebula collapsed because of its gravity, it spun faster and flattened into a disk. Most of the material was pulled toward the center to form the sun. Other particles within the disk collided and stuck together to form ever-larger bodies, including Earth. Scientists think Earth started off as a waterless mass of rock. </p>
  	<div id="source">
  		<span>Source:</span> <a href="https://www.space.com/54-earth-history-composition-and-atmosphere.html">SPACE.com</a>
  	</div>
	
<% include partials/footer %>