<% include partials/header %>

  <h1 class="display-4">Welcome to the Solar System Site!</h1>
  <img src="/img/solar_system.jpg" alt="The Solar System">
  <hr class="my-4">
  <p id="know_more">Click on a planet to know more about it</p>
		
<% include partials/footer %>