<% include partials/header %>

	<h1 class="display-4">Welcome to the Mars page!</h1>
  	<img src="/img/mars.jpg" alt="Mars">
  	<hr class="my-4">
  	<p id="mars">Mars is the fourth planet from the sun. Befitting the Red Planet's bloody color, the Romans named it after their god of war. In truth, the Romans copied the ancient Greeks, who also named the planet after their god of war, Ares. Other civilizations also typically gave the planet names based on its color — for example, the Egyptians named it "Her Desher," meaning "the red one," while ancient Chinese astronomers dubbed it "the fire star." The bright rust color Mars is known for is due to iron-rich minerals in its regolith — the loose dust and rock covering its surface. The cold, thin atmosphere means liquid water likely cannot exist on the Martian surface for any length of time. The Red Planet is home to both the highest mountain and the deepest, longest valley in the solar system. Mars also has the largest volcanoes in the solar system. Mars is much colder than Earth, in large part due to its greater distance from the sun. The dust storms on Mars are the largest in the solar system, capable of blanketing the entire Red Planet and lasting for months. One theory as to why dust storms can grow so big on Mars is because the airborne dust particles absorb sunlight, warming the Martian atmosphere in their vicinity. Warm pockets of air then flow toward colder regions, generating winds. Strong winds lift more dust off the ground, which, in turn, heats the atmosphere, raising more wind and kicking up more dust.</p>
  	<div id="source">
  		<span>Source:</span> <a href="https://www.space.com/47-mars-the-red-planet-fourth-planet-from-the-sun.html">SPACE.com</a>
  	</div>
	
<% include partials/footer %>