<% include partials/header %>

	<h1 class="display-4">Welcome to the Pluto page!</h1>
  	<img src="/img/pluto.jpg" alt="Pluto">
  	<hr class="my-4">
  	<p id="pluto">Deep chasms, overlapping craters, mountain chains, nearly featureless plains and shades of pink, red and black cross Pluto's surface. The dwarf planet hosts the now-iconic heart-shaped feature: Tombaugh Regio. Pluto's heart spans a thousand kilometers (620 miles), the eastern half crumbled with uplifted terrain and scraggily mountains, the western half smooth and plain. The mountains in the eastern half of Tombaugh Regio are made of ice — water ice, chilled to a temperature of 40 kelvins (minus 390 degrees Fahrenheit), is literally as strong as rock. It's strong enough to build mountain ranges as tall as the Himalayas. Underneath Pluto's frozen nitrogen crust is a mantle of water ice, and it appears that in this region of the heart feature, the mantle has burst through, creating a jumbled mess of mountains, boulders and chaotic terrain. This eastern complex stands in stark contrast to the almost featureless plains of frozen nitrogen that dominate the western half of the Tombaugh Regio, dubbed the Sputnik Planitia. The hexagons reveal the secret of the heart; they're the signatures of the fluid transfer of heat from one side to another, called convection processes. Such processes appear everywhere a fluid is warmed unevenly, from the sun to a tea kettle. This convection mean that something underneath the Sputnik Planitia is warmer than 40 kelvins, and that's causing the great plain of frozen nitrogen to slowly churn over the course of millions of years.
 </p>
  	<div id="source">
  		<span>Source:</span> <a href="https://www.space.com/36707-mystery-of-plutos-beating-heart.html">SPACE.com</a>
  	</div>
	
<% include partials/footer %>