<% include partials/header %>

	<h1 class="display-4">Welcome to the Venus page!</h1>
  	<img src="/img/venus.png" alt="Venus">
  	<hr class="my-4">
  	<p id="venus">Venus, the second planet from the sun, is named for the Roman goddess of love and beauty. The planet Venus — the only planet named after a female — may have been named for the most beautiful deity of her pantheon because it shone the brightest of the five planets known to ancient astronomers. Venus and Earth are often called twins because they are similar in size, mass, density, composition and gravity. Venus is the hottest world in the solar system. Although Venus is not the planet closest to the sun, its dense atmosphere traps heat in a runaway version of the greenhouse effect that warms Earth. As a result, temperatures on Venus reach 870 degrees Fahrenheit, more than hot enough to melt lead. The surface of Venus is extremely dry. During its evolution, ultraviolet rays from the sun evaporated water quickly, keeping it in a prolonged molten state. There is no liquid water on its surface today because the scorching heat created by its ozone-filled atmosphere would cause any to boil away. Roughly two-thirds of the Venusian surface is covered by flat, smooth plains that are marred by thousands of volcanoes, some which are still active today. </p>
  	<div id="source">
  		<span>Source:</span> <a href="https://www.space.com/44-venus-second-planet-from-the-sun-brightest-planet-in-solar-system.html">SPACE.com</a>
  	</div>
	
<% include partials/footer %>